<html>
<head>
<link rel="stylesheet" type="text/css" href="style.scss">
</head>
<body>
<div class="doll">
  <div class="hair"></div>
  <div class="bun"></div>
  <div class="bow"></div>
  <div class="head">
    <div class="fringe"></div>
    <div class="face">
      <div class="eyes"></div>
      <div class="blush"></div>
      <div class="lips"></div>
    </div>
  </div>
  <div class="body">
    <div class="robe"></div>
    <div class="arm left">
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
    </div>
    <div class="arm right">
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
    </div>
  </div>
</div>
<div class="doll">
  <div class="hair"></div>
  <div class="head">
    <div class="fringe"></div>
    <div class="face">
      <div class="eyes"></div>
      <div class="blush"></div>
      <div class="lips"></div>
    </div>
  </div>
  <div class="body">
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="flower">
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
      <div class="petal petal-5"></div>
    </div>
    <div class="robe"></div>
  </div>
</div>
<div class="doll">
  <div class="hair"></div>
  <div class="bun">
    <div class="pin left">
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
    </div>
    <div class="pin right">
      <div class="flower">
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
        <div class="petal petal-6"></div>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="fringe"></div>
    <div class="face">
      <div class="eyes"></div>
      <div class="blush"></div>
      <div class="lips"></div>
    </div>
  </div>
  <div class="body">
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="robe"></div>
  </div>
</div>
<div class="doll">
  <div class="hair"></div>
  <div class="head">
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="fringe"></div>
    <div class="face">
      <div class="eyes"></div>
      <div class="blush"></div>
      <div class="lips"></div>
    </div>
  </div>
  <div class="body">
    <div class="robe"></div>
  </div>
</div>
<div class="doll">
  <div class="hair">
    <div class="pin"></div>
  </div>
  <div class="bun"></div>
  <div class="head">
    <div class="fringe"></div>
    <div class="face">
      <div class="eyes"></div>
      <div class="blush"></div>
      <div class="lips"></div>
    </div>
  </div>
  <div class="body">
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="flower">
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
      <div class="petal petal-8"></div>
    </div>
    <div class="robe"></div>
    <div class="belt"></div>
    <div class="arm left"></div>
    <div class="arm right"></div>
  </div>
</div>
<div class="doll">
  <div class="hair"></div>
  <div class="bun left"></div>
  <div class="bun right"></div>
  <div class="head">
    <div class="fringe"></div>
    <div class="face">
      <div class="eyes"></div>
      <div class="blush"></div>
      <div class="lips"></div>
    </div>
  </div>
  <div class="body">
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="flower">
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
      <div class="petal petal-6"></div>
    </div>
    <div class="robe"></div>
  </div>
  <div class="belt"></div>
</div>
</body>
</html>