body {
  background: #545b7a;
}
div {
  width: 300px;
  height: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  background: #fa0 linear-gradient(to right, #fa0 50%, #0af 50%);
  color: #0af;
  border-radius: 50%;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes background {
  50% {
    background-color: currentColor;
  }
}
@keyframes background {
  50% {
    background-color: currentColor;
  }
}
div::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #545b7a;
  border-radius: 50%;
}
div::before {
  content: '';
  position: absolute;
  display: block;
  background-color: inherit;
  height: 100%;
  width: 50%;
  bottom: 0;
  right: 0;
  border-radius: 0 100% 100% 0 / 50%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-animation: 50s spin infinite linear, 100s background infinite step-end;
          animation: 50s spin infinite linear, 100s background infinite step-end;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}
